USE [master]
GO
/****** Object:  Database [SAT]    Script Date: 2/3/2021 12:52:19 AM ******/
CREATE DATABASE [SAT]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SAT', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\SAT.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SAT_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\SAT_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SAT].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SAT]
GO
/****** Object:  Schema [Proceso]    Script Date: 2/3/2021 12:52:19 AM ******/
CREATE SCHEMA [Proceso]
GO
/****** Object:  Schema [Seguridad]    Script Date: 2/3/2021 12:52:19 AM ******/
CREATE SCHEMA [Seguridad]
GO
/****** Object:  Schema [UserInfo]    Script Date: 2/3/2021 12:52:19 AM ******/
CREATE SCHEMA [UserInfo]
GO
/****** Object:  Table [Proceso].[Salas]    Script Date: 2/3/2021 12:52:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Proceso].[Salas](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[MomentoIncio] [datetime] NOT NULL,
	[Duracion] [int] NOT NULL,
	[Host] [varchar](15) NOT NULL,
 CONSTRAINT [PK_Salas] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Proceso].[Salas_Usuarios]    Script Date: 2/3/2021 12:52:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Proceso].[Salas_Usuarios](
	[ID_Sala] [int] NOT NULL,
	[ID_Usuario] [varchar](15) NOT NULL,
	[Presente] [bit] NOT NULL,
 CONSTRAINT [PK_Salas_Usuarios] PRIMARY KEY CLUSTERED 
(
	[ID_Sala] ASC,
	[ID_Usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Seguridad].[Sesiones]    Script Date: 2/3/2021 12:52:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Seguridad].[Sesiones](
	[ID_Sesion] [int] IDENTITY(1,1) NOT NULL,
	[Token] [varchar](100) NOT NULL,
	[Vigencia] [datetime] NOT NULL,
	[ID_Dispositivo] [int] NOT NULL,
	[Usuario] [varchar](15) NOT NULL,
 CONSTRAINT [PK_Sesiones] PRIMARY KEY CLUSTERED 
(
	[ID_Sesion] ASC,
	[Token] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [UserInfo].[Rol_Usuario]    Script Date: 2/3/2021 12:52:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [UserInfo].[Rol_Usuario](
	[ID_Usuario] [varchar](15) NOT NULL,
	[ID_Rol] [int] NOT NULL,
 CONSTRAINT [PK_Rol_Usuario] PRIMARY KEY CLUSTERED 
(
	[ID_Usuario] ASC,
	[ID_Rol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [UserInfo].[Roles]    Script Date: 2/3/2021 12:52:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [UserInfo].[Roles](
	[ID] [int] NOT NULL,
	[Descripcion] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [UserInfo].[Usuarios]    Script Date: 2/3/2021 12:52:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [UserInfo].[Usuarios](
	[ID] [varchar](15) NOT NULL,
	[Nombre] [varchar](30) NOT NULL,
	[Matricula] [varchar](10) NULL,
	[Correo] [varchar](100) NOT NULL,
	[Password] [varchar](50) NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [Proceso].[Salas] ON 

INSERT [Proceso].[Salas] ([ID], [Nombre], [MomentoIncio], [Duracion], [Host]) VALUES (2, N'Sala del Profesor X', CAST(N'1900-01-01T00:00:00.000' AS DateTime), 0, N'4')
INSERT [Proceso].[Salas] ([ID], [Nombre], [MomentoIncio], [Duracion], [Host]) VALUES (3, N'Sala del Profesor X', CAST(N'1900-01-01T00:00:00.000' AS DateTime), 0, N'4')
SET IDENTITY_INSERT [Proceso].[Salas] OFF
GO
INSERT [Proceso].[Salas_Usuarios] ([ID_Sala], [ID_Usuario], [Presente]) VALUES (3, N'3', 0)
GO
INSERT [UserInfo].[Rol_Usuario] ([ID_Usuario], [ID_Rol]) VALUES (N'4', 2)
GO
INSERT [UserInfo].[Roles] ([ID], [Descripcion]) VALUES (1, N'ESTUDIANTE')
INSERT [UserInfo].[Roles] ([ID], [Descripcion]) VALUES (2, N'PROFESOR')
GO
INSERT [UserInfo].[Usuarios] ([ID], [Nombre], [Matricula], [Correo], [Password]) VALUES (N'1', N'Luis Delgado', N'20151064', N'delgado.tdp@gmail.com', N'12345')
INSERT [UserInfo].[Usuarios] ([ID], [Nombre], [Matricula], [Correo], [Password]) VALUES (N'2', N'Samuel Peña', N'20151234', N'ersamu@gmail.com', N'123456')
INSERT [UserInfo].[Usuarios] ([ID], [Nombre], [Matricula], [Correo], [Password]) VALUES (N'3', N'Ermosen', N'20154321', N'fasd@gmail.com', NULL)
GO
ALTER TABLE [Proceso].[Salas_Usuarios] ADD  CONSTRAINT [DF__Salas_Usu__Prese__2E1BDC42]  DEFAULT ((0)) FOR [Presente]
GO
ALTER TABLE [Proceso].[Salas]  WITH CHECK ADD  CONSTRAINT [FK_Salas_Usuarios] FOREIGN KEY([Host])
REFERENCES [UserInfo].[Usuarios] ([ID])
GO
ALTER TABLE [Proceso].[Salas] CHECK CONSTRAINT [FK_Salas_Usuarios]
GO
ALTER TABLE [Proceso].[Salas_Usuarios]  WITH CHECK ADD  CONSTRAINT [FK_SalasUsuarios_Salas] FOREIGN KEY([ID_Sala])
REFERENCES [Proceso].[Salas] ([ID])
GO
ALTER TABLE [Proceso].[Salas_Usuarios] CHECK CONSTRAINT [FK_SalasUsuarios_Salas]
GO
ALTER TABLE [Proceso].[Salas_Usuarios]  WITH CHECK ADD  CONSTRAINT [FK_SalasUsuarios_Usuarios] FOREIGN KEY([ID_Usuario])
REFERENCES [UserInfo].[Usuarios] ([ID])
GO
ALTER TABLE [Proceso].[Salas_Usuarios] CHECK CONSTRAINT [FK_SalasUsuarios_Usuarios]
GO
ALTER TABLE [Seguridad].[Sesiones]  WITH CHECK ADD  CONSTRAINT [FK_Sesiones_Usuario] FOREIGN KEY([Usuario])
REFERENCES [UserInfo].[Usuarios] ([ID])
GO
ALTER TABLE [Seguridad].[Sesiones] CHECK CONSTRAINT [FK_Sesiones_Usuario]
GO
USE [master]
GO
